@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background: #eeeff4;
}

.wrapper .header {
    width: 100%;
    height: 50px;
    background: #d6b87f;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
}

.cards_wrap {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards_wrap .card_item {
    padding: 15px 25px;
    width: 50%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.cards_wrap .card_inner {
    background: #fff;
    border-radius: 5px;
    padding: 35px 20px;
    min-width: 225px;
    min-height: 315px;
    max-height: auto;
    width: 100%;
}

.cards_wrap .card_item img {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}

.cards_wrap .card_item .role_name {
    color: #d6b87f;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name {
    color: #b6c0c2;
    font-size: 12px;
    font-weight: 100;
    margin: 5px 0 10px;
}

.cards_wrap .card_item .film {
    font-size: 14px;
    line-height: 24px;
    color: #7b8ca0;
    text-overflow: clip;
}

@media screen and (max-width: 1024px) {
    .cards_wrap .card_item {
        width: 33%;
    }
}

@media screen and (max-width: 768px) {
    .cards_wrap .card_item {
        width: 50%;
    }

    .wrapper .header {
        font-size: 16px;
        height: 60px;
    }
}

@media screen and (max-width: 568px) {
    .cards_wrap .card_item {
        width: 100%;
    }

    .wrapper .header {
        font-size: 14px;
    }
}

.cards_wrap .card_item .vote {
    font-size: 15px;
}

.cards_wrap .card_item .up {
    color: green;
}

.cards_wrap .card_item .down {
    color: red;
}

.cards_wrap .card_item .inactive {
    color: gray;
}


a {
    background-color: #d6b87f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-left: 45px;
    cursor: pointer;
}