.post-header {
    display: grid;
    grid-template-rows: 2fr 3fr;    
    cursor: pointer;
}

.post-container {
    height: 25%;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid rgb(120, 120, 120);
    padding: 1%;
    margin: 1%;
}

.post-header-text {
    display: flex;
    flex-direction: row;
}

.date-and-author {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
    font-weight: 500;
    color: rgb(169, 169, 169);
    margin-top: 8px;
}

.post-avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
} 

.post-content {
    padding-right: 3%;
}

.post-body {
    display: grid;
    grid-template-columns: 10fr 1fr;    
    background-color: #FFFF;
    padding: 0.5%;  
}

.answered-by {
    align-self: end;
    position: relative;
    bottom: 0;
}

.rating {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    width: 70px;
}
.like-rating {
    text-align: center;
}
.dislike-rating {
    text-align: center;
}
