<div class="container">
    <table class="center">
        <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 40%;">
            <col span="1" style="width: 50%;">
            <col span="1" style="width: 60%;">
        </colgroup>
        <tr>
            <th>title</th>
            <th>body</th>
            <th>category</th>
            <th>user</th>
            <th>timestamp</th>
            <th>country</th>
            <th>covid19cases</th>
            <th>upvote</th>
            <th>downvote</th>
        </tr>
        {% for row in response %}
        <tr>
            {% for value in row %}
            <td>
                {{value}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>