.layout {
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgb(244, 255, 253);
}

.header {
    height: 7vh;
    width: 100%;
}

.content {
    width: 100%;
    height: 100%;
    background-color: rgb(244, 255, 253);
}

.forum-article-buttons {
    height: 10vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-top: 3vh;
    background-color: rgb(244, 255, 253);
    margin: 0 auto;
}

.category-post-articles {
    display: flex;
    width: 100vw;
    background-color: rgb(244, 255, 253);
    overflow: scroll;
    margin-bottom: 30px;
}

.categories-and-create-post {
    display: block;
    height: 56vh;
    width: 20vw;
}

.categories {
    display: block;
    height: 54vh;
    width: 18vw;
    margin-top: 2vh;
    margin-left: 3vw;
    padding-top: 1vh;
    padding-left: 2vw;
    padding-bottom: 1vh;
    background-color: #EBECF0;
    border-radius: 5%;
    border: 0.5px solid lightblue;
    overflow: scroll;
}

.articles-or-posts {
    border-radius: 5px;
    width: 74vw;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-right: 2vw;
    padding-bottom: 2vw;
    margin-left: 2vw;
}

.category-search-bar {
    width: 2,5vw;
    margin-bottom: 10px;
}


.follow-category{
    display: flex;
}