.layout {
    height: 100%;
    width: 100%;
    display: block;
}

.header {
    height: 7vh;
    width: 100%;
}

.content {
    background-image: url("./HomepageBackground.jpg");
    width: 100%;
    height: 93vh;
}

.footer {
    width: 100%;
    height: 8vh;
    background-color: lightgray;
}

.forum-article-buttons {
    height: 10vh;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 3vh;
}

.category-post-articles {
    display: flex;
    height: 76vh;
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 3vh;
}

.categories-and-create-post {
    display: block;
    height: 56vh;
    width: 20vw;
}

.categories {
    display: block;
    height: 44vh;
    width: 18vw;
    margin-top: 2vh;
    margin-left: 1vw;
    padding-top: 1vh;
    padding-left: 2vw;
    padding-bottom: 1vh;
    background-color: #EBECF0;
    border-radius: 5%;
    border: 0.5px solid lightblue;
    overflow: scroll;
}

.articles-or-posts {
    border-radius: 5%;
    border: 4px solid lightblue;
    height: 74vh;
    width: 74vw;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-right: 2vw;
    padding-bottom: 2vw;
    margin-left: 2vw;
    overflow: scroll;
    background: rgba(240,255,240,0.6);
}

.category-search-bar {
    width: 25vw,
}