.navbar {
    width: 100vw;
    height: 60px;
    background-color: rgb(148, 231, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid black;
}

.login-logo {
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 0px;
}

.login-logo > div {
    cursor: pointer;
    width: 25%;
    margin: 0 auto;
    justify-content: center;
}

.login-background {
    width: 100vw;
    height: 100vh;
    background-color: #D3E0F4;
    background-image: url("doctor.webp");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(150px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.login-container {
    width: 40%;
    height: 50%;
    margin: 5em auto;
    background-color: #e7f7f7;
    border-radius: 5%;
    border: 3px solid rgb(98, 163, 161);
    padding: 80px;
    box-shadow: 20px 20px 400px rgb(38, 97, 108)
}

.input-box {
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 990px) {
    .login-container {
        width: 80%;
        height: 50%;
        padding: 50px;
    }
}

@media only screen and (max-width: 400px) {
    .login-container {
        width: 100%;
        height: 100%;
        padding: 30px;
        border-radius: 0%;
    }
}
