<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    
    
    
        <link rel="stylesheet" href="../static/style2.css">
      
        
</head>    

<body">
    <h1 style="color: antiquewhite;text-align: center;">User Page</h1>
    <div id="menu-btn" style="color: antiquewhite;text-align: center;">
        <form method="get" action="allUsers">
            <button style="background: transparent; border: none;" type="submit"><a class="bn39" href="/"><span class="bn39span">All Users</span></a></button>
        </form>
     </div>
     <div style="height: 50px;">

     </div>
     
     {% if action_fail%}
     <div id="container">
     <div id="error-box">
        <div class="dot"></div>
        <div class="dot two"></div>
        <div class="face2">
          <div class="eye"></div>
          <div class="eye right"></div>
          <div class="mouth sad"></div>
        </div>
        <div class="shadow move"></div>
        <div class="message"><h1 class="alert">Error!</h1><p>{{error_message}}.</div>
        
      </div>
					<!-- <div class="alert alert-danger" role="alert">
						<h4 class="alert-heading">ERROR: {{error_message}}</h4>
						
					</div> -->
                </div>
	{% endif %}
    {% if action_success%}
    <div id="container">
    <div id="success-box">
        <div class="dot"></div>
        <div class="dot two"></div>
        <div class="face">
          <div class="eye"></div>
          <div class="eye right"></div>
          <div class="mouth happy"></div>
        </div>
        <div class="shadow scale"></div>
        <div class="message"><h1 class="alert">Success!</h1><p>User is created..</p></div>
        
      </div>
					<!-- <div class="alert alert-danger" role="alert">
						<h4 class="alert-heading">SUCCESS!!</h4>
						
					</div> -->
                </div>
	{% endif %}
    <div style="height: 10px;">

    </div>
     <form class="form" method="POST" action="createUser">
        {%csrf_token%}
        <div class="title">Welcome</div>
        <div class="subtitle">Let's add a User!</div>
        <div class="input-container ic1">
          <input id="username" class="input" name="username" type="text" placeholder=" " />
          <div class="cut"></div>
          <label for="username" class="placeholder">username</label>
        </div>
        <div class="input-container ic2">
          <input id="email" class="input" name="email" type="text" placeholder=" " />
          <div class="cut"></div>
          <label for="email" class="placeholder">email</label>
        </div>
        <div class="input-container ic2">
          <input id="password" class="input" name="password" type="text" placeholder=" " />
          <div class="cut cut-short"></div>
          <label for="password" class="placeholder">password</label>
        </div>
        <button style="background: transparent; border: none;" type="submit" class="submit"><a class="bn39" href="/"><span class="bn39span">Submit</span></a></button>
       
    </form>
    <footer>
        <p>made by <a href="https://github.com/bounswe/bounswe2022group5/wiki/Mehmet-Emre-Akbulut"> Mehmet Emre Akbulut</a> ♡
      </footer>

    </body>
    <script type="text/javascript">
       function showMask() {
        var node = document.getElementById('list');
        if (node.style.display=='none') {
            node.style.display = 'block';
        }
        else
            node.style.display = 'none'
        }
        
        
    </script>
    </html>