.article-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(179, 220, 253);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    padding: 50px;
}

.article-post {
    width: 70%;
    margin: auto;
    background-color: rgb(247, 253, 252);
    padding: 50px;
    border-radius: 50px;
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-date {
    font-weight: 500;
    color: rgb(182, 181, 181);
}

.article-avatar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.article-title-text {
    font-size: 28px;
    text-transform: uppercase;
}

.article-title-author {
    font-size: 14px;
    margin-left: 10px;
}

.article-body-votes {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.upvote-count, .downvote-count {
    text-align: center;
}

.article-rating {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.article-upvote, .article-downvote {
    display: flex;
    flex-direction: column;
}

.article-avatar-body {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.article-images {
    margin-left: 120px;
    overflow: auto;
    white-space: nowrap;
}

.article-image {
    margin-right: 20px;
    display: inline-block;
}

.article-vote {
    margin-top: -40px;
}
