<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/styleLogin.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>    

<body>

    
    
    
    {% if is_failed %}
    <div class="alert danger-alert">
        <h3>Wrong Email or Password!</h3>
        <a class="close" id="close">&times;</a>
      </div>

    {% endif %}
              
     <div class="login-box">
                <h2>Login</h2>
                <form method="POST" action="login">
                    {%csrf_token%}
                    <input type="hidden" name="next" value="{{ request.path }}">  
                  <div class="user-box">
                    <input id="username" type="text" name="username" required="true">
                    <label>Username</label>
                  </div>
                  <div class="user-box">
                    <input id="password" type="password" name="password" required="true">
                    <label>Password</label>
                  </div>
                  <button style="background: transparent; border: none;" type="submit">
                    <a type="submit">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Submit
                        
                      </a>
                
                </button>
                  
                </form>
                <button style="background: transparent; border: none;" ><form action="../user/">
                  <a type="submit" href="../user/">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Signup
                        
                      </a>
                    </button></div>
    </div>
    
           
            
    
    </body>
    <script>
        $(".close").click(function() {
        $(this)
            .parent(".alert")
            .fadeOut();
        });

    </script>
    </html>